*.m4b
*.mp3
*.flac
*.pyc
*.wixobj
.DS_Store
*.wixobj
__pycache__/
python_env/
lib/classes/tts_engines/venvs/
audiobooks/cli/*
audiobooks/gui/gradio/*
audiobooks/gui/host/*
run/*
tmp/*
models/*
!run/.gitkeep
!tmp/.gitkeep
!models/.gitkeep
!audiobooks/cli/.gitkeep
!audiobooks/gui/gradio/.gitkeep
!audiobooks/gui/host/.gitkeep
.installed
.env