num2words @ git+https://github.com/savoirfairelinux/num2words.git
regex
tqdm
cutlet
deep_translator
docker
ebooklib
fastapi
beautifulsoup4
fugashi
sudachipy
sudachidict_core
ray
unidic
pymupdf4llm
translate
hangul-romanize
indic-nlp-library
iso639-lang
jieba
pycantonese
soynlp
pypinyin
pythainlp
mutagen
PyOpenGL
nvidia-ml-py
phonemizer-fork
pydub
torchvggish
pyannote-audio==3.4.0
stanza==1.10.1
argostranslate==1.10.0
demucs==4.0.1
gradio>=5.49.1
coqui-tts[languages]==0.27.2
torch==2.8.0
torchaudio==2.7.1